// VARIABLES:


// BACKGROUND COLORS:
$body-bg-color: #DFDFDF;
$container-bg-color: #3F3F3F;
$header-bg-color: #8f8f8f;
$list-bg-color: #f1f1f1;
$detail-bg-color: #e5e5e5;
$img-bg-color: #ffffff;
$img-border-color: #969696;

// FONT COLORS:
$body-text-color: #3a3a3a;
$color-highlight: #e8d415;
$list-font-color: #848181;
$detail-font-color: #3F3F3F;

// FONTS:
$body-font-family: 'Open Sans', sans-serif;
$body-font-size: 1em;
$detail-font-size: 2em;

